@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: roboto;
  src: url("../../public/fonts/Roboto/Roboto-Regular.ttf");
  font-stretch: normal;
  font-weight: normal;
  font-style: normal;
}

@layer base {
  html {
    font-family: roboto;
  }
}
